<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Password checker</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>

 <nav class="navbar navbar-expand-lg navbar-dark bg-dark"><i>
  <a class="navbar-brand" style="color: red" href="/">HackNews</a></i>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/hacklist">Hack List</a>
      </li>
      
    </ul>
  </div>
</nav>
<br><br><br>

<center>

	<div class="input-group mb-3">
 		<form style="margin-left: 400px">
 	 		<input type="text" style="width: 600px" placeholder="serach by keyword" class="form-control" placeholder="Recipient's username" >
 	 		<br>
  			<div class="input-group-append">
    		<button style="width: 600px" class="btn btn-outline-secondary">Search</button>
  			</div>
  		</form>
 	</div>

<br><br>

<ul class="list-unstyled">
<div style="width: 800px;">
  <li class="media" style="border-style: thick 3px black">
    <img src="https://haveibeenpwned.com/Content/Images/PwnedLogos/CrimeAgencyVBulletin.png" width="100px" height="100px" class="mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0 mb-1">List-based media object</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </li>
  <br><br>
  <li class="media">
    <img src="https://haveibeenpwned.com/Content/Images/PwnedLogos/CrimeAgencyVBulletin.png" width="100px" height="100px" class="mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0 mb-1">List-based media object</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </li>

</ul>
</div>
</center>
  </body>
  </html>